<FlexboxLayout flexDirection="column" class="exercise" *ngIf="exercise">

    <knt-user-header [title]="'Bilan : ' + bodyArea.name">
    </knt-user-header>

    <FlexboxLayout flexDirection="column" class="exercise__content">

        <VideoPlayer #videoElement class="exercise__video"
                     [src]="'~/assets/videos/etirement_extension.mp4'"
                     autoplay="true"
                     fill="true"
                     controls="false"
                     height="40%"></VideoPlayer>

        <FlexboxLayout class="exercise__details-main">
            <Label class="exercise__details-title-main"
                   [text]="exercise.name"></Label>
        </FlexboxLayout>

        <FlexboxLayout class="exercise__details">
            <Label text="&#xf129;" class="fas exercise__details-icon-info text-primary"></Label>
            <Label class="exercise__details-title-info text-primary"
                   [text]="exercise.advice"></Label>
        </FlexboxLayout>

        <FlexboxLayout class="exercise__details">
            <Label text="&#xf03d;" class="fas exercise__details-icon"></Label>
            <Label class="exercise__details-title"
                   [text]="exercise.videolink"></Label>
        </FlexboxLayout>
    </FlexboxLayout>

    <FlexboxLayout class="exercise__controls">
        <Button text="C'est fait !" class="-primary"
                (tap)="goNext()"></Button>
    </FlexboxLayout>
</FlexboxLayout>

