<FlexboxLayout class="pathology-item" flexDirection="row">

    <Image class="pathology-item__image" row="0"
           [src]="'~/assets/img/body-location/f-back.jpeg'"
           stretch="aspectFill"></Image>

    <FlexboxLayout class="pathology-item__labels" flexDirection="column">
        <Label class="pathology-item__labels-title" [text]="'Douleur Lombaire'"></Label>
        <Label class="pathology-item__labels-date" [text]="'10/15/2021'"></Label>
    </FlexboxLayout>

    <FlexboxLayout class="pathology-item__scored" flexDirection="row">
        <Label text="&#xf005;" class="fas pathology-item__star"
               [ngClass]="{'pathology-item__star--activated' : pathology.score > 0}"></Label>
        <Label text="&#xf005;" class="fas pathology-item__star"
               [ngClass]="{'pathology-item__star--activated' : pathology.score > 1}"></Label>
        <Label text="&#xf005;" class="fas pathology-item__star"
               [ngClass]="{'pathology-item__star--activated' : pathology.score > 2}"></Label>
    </FlexboxLayout>
</FlexboxLayout>
