<FlexboxLayout class="knt-page">

    <knt-user-header [title]="'Diagnostique'">
    </knt-user-header>

    <FlexboxLayout class="knt-page__center">

        <Label class="knt-text"
               [text]="'L’évolution de votre douleur en fonction des exercices ou éducations proposées sont caractéristiques de :'"></Label>

        <Label class="knt-text__strong diagnosis-value"
               [text]="diagnosis.name"></Label>

        <Label class="knt-text__advice"
               [text]="'Cliquez ici pour plus d’information.'"></Label>

    </FlexboxLayout>

    <Button text="Commencer le traitement"
            class="-primary"
            (tap)="endHealthcheck()"></Button>

</FlexboxLayout>

