/** -------------------------------------------- */
/**                 Carousel                     */
/** -------------------------------------------- */

.carousel {
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.carousel__text {
    flex-grow: 1;

    margin: 0 10%;
    font-size: var(--font-small);
    font-family: var(--family-light);
}

.carousel__controls {
    margin-top: 20vh;
    flex-direction: row;
    justify-content: center;
    height: 40px;
}

.carousel__button {
    width: 35px;
    height: 35px;
    margin-left: 20px;

    border-color: var(--color-black);
    border-width: 5px;
    border-radius: 50px;
    background-color: var(--color-white);
}

.carousel__button--selected {
    background: var(--color-black);
}
