<GridLayout rows="*,auto" class="user-list">
    <FlexboxLayout flexDirection="column" rowSpan="2" class="user-list__screen">

        <Label class="user-list__title" [text]="'Qui est-ce ?'"></Label>

        <WrapLayout orientation="horizontal" class="user-list__container">

            <!--====================================================================-->
            <!--                        Item                                        -->
            <!--====================================================================-->

            <FlexboxLayout class="user-list__user" *ngFor="let user of users;"
                           (tap)="selectUser(user)">

                <knt-icon-circle class="user-list__user__icon"
                                 [imgPath]="user.userProfile?.avatar"></knt-icon-circle>

                <FlexboxLayout class="user-list__user__label">
                    <Label class="user-list__user__label-text"
                           [text]="user.userProfile.name"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </WrapLayout>

    </FlexboxLayout>

    <!--====================================================================-->
    <!--                        Add button                                  -->
    <!--====================================================================-->

    <FlexboxLayout row="1" class="user-list__overlay">
        <Label text="&#xf067;" class="fas user-list__add"
               (tap)="addUser()"></Label>
    </FlexboxLayout>
</GridLayout>
