.pathology-list {

    &__title {
        margin-left: 10px;
        font-size: var(--font-regular);
        font-family: var(--family-regular);
    }

    &__container {
        background: white;
    }

    &__item {
        background: white;
    }

    &__item:not(:last-child) {
        border-bottom: 1px solid grey;
    }
}
