.home__title {
    text-align: center;
    flex-grow: 1;
}

.home__title-text {
    font-size: var(--font-big);
    font-family: var(--family-sbold);
}

.home__guide {
    min-height: 200vh;
    flex-grow: 1;
    margin-bottom: 20vh;
}

.home__controls {
    flex-direction: column;
    flex-grow: 1;
    /*height: 100vh;*/
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.-primary {
    width: 100%;
    margin: 25px;
}
