<FlexboxLayout class="knt-page">

    <knt-user-header [title]="'Bilan : ' + bodyArea.name">
    </knt-user-header>

    <FlexboxLayout class="knt-page__center">
        <Label class=" knt-text"
               [text]="'Refaites l’exercice en faisant bien attention à la posture.'"></Label>

        <FlexboxLayout class="knt-page__center">
            <Label class="knt-text"
                   [text]="getText()"></Label>
        </FlexboxLayout>

        <Label class="knt-text"
               [text]="'Aidez-vous d’une glace ou d’un proche pour corriger la posture si vous le pouvez'"></Label>
    </FlexboxLayout>

    <Button class="-primary"
            text="Allons-y !"
            (tap)="goNext()"></Button>
</FlexboxLayout>
