.user-header {
    width: 100%;
    height: 60vh;
    background: var(--color-primary);
    align-items: center;
    padding-left: 20px;

    &__title {
        font-size: var(--font-regular);
        font-family: var(--family-regular);
        color: white;
        margin-left: 20px;
    }

    &__title {
        font-size: var(--font-regular);
        font-family: var(--family-regular);
        color: white;
        padding-left: 10px;
    }

}
