.user-home {
    background: var(--color-grey-bg);

    &__header {
        width: 100%;
        align-items: center;
        border-bottom: 1px solid grey;

        &-control {
            width: 100%;
            padding: 20em;
            justify-content: space-between;
            font-size: var(--font-regular);
            font-family: var(--family-light);

            &-control {
                color: var(--color-blue);
            }
        }

        &-title {
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: var(--font-big);
            font-family: var(--family-light);
        }
    }

    &__content {
        flex-grow: 1;
    }

    &__section {


        &-title {

        }
    }

}
