<FlexboxLayout class="knt-page">

    <FlexboxLayout class="healthcheck-header">
        <Label class="healthcheck-header__title" [text]="'Définition du diagnostique'"></Label>
    </FlexboxLayout>

    <!---------------------- Carousel  ------------------------------------------->

    <FlexboxLayout class="treatment-guide__content">

        <Label class="knt-text"
               [text]="'Nous allons désormais effectuer un certain nombre d’exercices. ' +
                'En fonction de votre ressenti après chaque exercice, nous allons affiner le diagnostic ' +
                 'afin de vous proposer le traitement adéquat.'"></Label>

        <FlexboxLayout class="treatment-guide__show">
            <Switch class="treatment-guide__show-control"
                    checked="true"
                    (checkedChange)="stopDisplay($event)"></Switch>

            <Label class="treatment-guide__show-text"
                   [text]="'Ne plus afficher cette étape'"></Label>

        </FlexboxLayout>
    </FlexboxLayout>

    <!---------------------- Validate ------------------------------------------->

    <Button class="-primary"
            text="Allons-y !"
            (tap)="goNext()"></Button>

</FlexboxLayout>
