.treatment-guide {
    flex-direction: column;
}

.treatment-guide__content {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding: 10vh 20vw;
}

.treatment-guide__content > .knt-text {
    padding: 25px;
}

/** -------------------------------------------- */
/**                 Show                         */
/** -------------------------------------------- */

.treatment-guide__show {
    align-items: center;
}

.treatment-guide__show-control {

}

.treatment-guide__show-text {
    font-size: var(--font-small);
    font-family: var(--family-light);
}


Button {
    margin-bottom: 20vh;
}
