<FlexboxLayout class="knt-page">

    <FlexboxLayout class="healthcheck-header">
        <Label class="healthcheck-header__title"
               [text]="'Diagnostique'"></Label>
    </FlexboxLayout>

    <FlexboxLayout class="knt-page__center">

        <Label class="knt-text"
               [text]="'L’évolution de votre douleur en fonction des exercices ou éducations proposées sont caractéristiques de :'"></Label>

        <Label class="knt-text__strong"
               [text]="diagnosis.name"></Label>

        <Label class="knt-text__advice"
               [text]="'Cliquez ici pour plus d’information.'"></Label>

    </FlexboxLayout>

    <Button text="Commencer le traitement"
            class="-primary"
            (tap)="endHealthcheck()"></Button>

</FlexboxLayout>

