.icon-circle {
    overflow: hidden;

    border-radius: 50%;
    border: 3px solid grey;

    background: var(--color-grey-bg);

    &__icon {
        border-radius: 50%;
    }

    &--small {
        width: 100px;
        height: 100px;
    }

    &--big {
        width: 200px;
        height: 200px;
    }
}
