.pain-assessment {
    flex-direction: column;

    &__header {
        flex-direction: column;
        padding: 25px;

        &-question {
            padding: 25px 0;
            font-size: var(--font-small);
            font-family: var(--family-light);
        }
    }

    &__map {
        height: 65%;
    }

    &__choice {
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-label {
            padding: 25px;
            font-size: var(--font-regular);
            font-family: var(--family-light);
        }

        &-controls {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        &-control {
            font-size: 50px;
            margin-right: 60px;
        }

        &-minus {
            color: #74c69d !important;
        }

        &-equals {
            color: #48cae4 !important;
        }

        &-plus {
            color: #ff595e !important;
        }
    }
}

